@import "variables.less";

.addPayment {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}

.column {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: @screen-sp-min) {
  .addPayment {
    width: 90%;
  }
}
