@import "variables.less";

.table {
  width: 70%;
  font-size: 1.5em;
  line-height: 1.5em;
  border-collapse: separate;
  border-spacing: 1em;
}

.name {
  border-bottom: 2px solid @light-primary;
  margin-right: 10%;
  text-align: right;
}

@media (max-width: @screen-sp-min) {
  .table {
    width: 80%;
  }
}
