@import "variables.less";

.panels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.name {
  font-size: 3em;
  margin: 1em;
  color: @light-primary;
}

@media (max-width: @screen-sp-min) {
  .panels {
    flex-direction: column;
  }
}
