@import "variables.less";

.signature{
	width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
	color: @dark-primary;
}

.lead {
	font-family: Roboto;
	font-weight: 300;
	margin: 0;
}

.sublead {
	font-family: Roboto;
  font-weight: 100;
  margin: 1em;
  margin-bottom: 2em;
}

.button {
	width: 250px;
	height: 3.5em;
}
