@import "variables.less";

.signature{
	width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
	color: @dark-primary;
}

.logo {
	width: 80px;
	height: 80px;
	box-shadow: 0px 0px 5px 0px @light;
	border-radius: 50%;
	animation-duration: 3s;
	animation-name: blured;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.lead {
	font-family: Roboto;
	font-weight: 300;
	margin: 0;
}

.sublead {
	font-family: Roboto;
  font-weight: 100;
  margin: 1em;
  margin-bottom: 2em;
}

.button {
	width: 250px;
	height: 3.5em;
}

@keyframes blured {
  0% {
		box-shadow: 1px 1px 5px 0px @light;
  }
  25% {
		box-shadow: -1px 1px 10px 0px @light;
  }
  50% {
		box-shadow: -1px -1px 15px 0px @light;
  }
  75% {
		box-shadow: 1px -1px 10px 0px @light;
  }
  100% {
		box-shadow: 1px 1px 5px 0px @light;
  }
}
