@dark: #222222;
@dark-primary: #e6e38e;
@dark-secondary: #EFCD9A;
@dark-with-opacity: fade(@dark, 70%);

@light: #fffffc;
@light-primary: #4c4900;
@light-secondary: #BF783A;

@light-with-opacity: fade(@light, 70%);

@screen-sp-min: 768px;
